/*  Universidad del Valle de Guatemala
    Marco Jurado 20308

    map.css
*/

.car{
    /*para el carro del jugador*/
    background-color: grey; /* gris de pista */
}

.flag{
    /*para la bandera de llegada*/
    background-color: grey;
    width: 100%;
    height: 100%;
    position: relative;
}

.maze {
    display: flex;
    flex-direction: column;
    color: black;
    transition: background-color 500ms;
}

.lineas {
    /* ayuda a mantenerlo en el grid */
    display: inline-flex;
}

.nowall{
    background-color: grey;
}

.Wall { /* tamaño de 40 * 40 de todo elemento del laberinto */
    width:  40px;
    height: 40px;
    background-color: rgb(33, 121, 33); /* verde grama xd */
}

